<nav>
  <ul style="list-style: none; display: flex; gap: 20px;font-size: large;">
    <li><a href="/home">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/screenings">Screenings</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
</nav>
<hr>
