<nav>
  <ul style="list-style: none; display: flex; gap: 20px;">
    <li><a href="home">Home</a></li>
    <li><a href="movies">Movies</a></li>
  </ul>
</nav>
<hr>
<a href="home"> <h1>Home page</h1> </a>

