<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cinemas List</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body >
  <%- include('../partials/navbar') %>
  <main>
    <div class="container-half-center">
      <div class="cinemas-header">
        <h1>Cinemas List</h1>
        <!-- <a class="button-link" href='/cinemas/create'>Add Cinema</a> -->
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody id="cinemas-body">
          <% cinemas.forEach(cinema => { %>
            <tr>
              <td><%= cinema.cinema_name %></td>
              <td><%= cinema.cinema_adresse %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
